APP_NAME=myapp
APP_ENV=local
APP_KEY=33446a9dcf9ea060a0a6532b166da32f304af0de
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_LOG_LEVEL=debug
APP_PORT=3000

DB_CONNECTION=mysql
DB_HOST=180.163.53.44
SV_PORT=3360
DB_DATABASE=goblog
DB_USERNAME=admin
DB_PASSWORD=Admin_12

SESSION_DRIVER=cookie
SESSION_NAME=goblog-session